@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p>Task 4 <a href="../TestPage.html">Text Page</a></p>
</div>

@*Prac Step 3 4 *@
<div class="text-center">
    <a href="/Test_T10/RazorTest">Go to RazorTest</a>
    <br>
    @Html.ActionLink("Go to RazorTest with HTML Helper", "RazorTest", "Test_T10")
</div>

